{% extends "layout.html" %}

{% block article_body %}
	
{% markdown %}

Donald Trump’s [abrupt termination](https://www.ft.com/content/ea0d7efe-359e-11e7-bce4-9023f8c0fd2e) of FBI director James Comey in the middle of an FBI probe into Russian interference in the 2016 election sent shockwaves through [Capitol Hill](https://www.ft.com/content/faec2454-364e-11e7-bce4-9023f8c0fd2e). How Senators respond to the news matters, as Mr Trump cannot appoint a replacement for Mr Comey without the Senate’s approval, and the Senate intelligence committee is conducting its own investigation into Russian interference in the 2016 election.

The initial reaction split largely along predictable party lines: no Senate Democrats have voiced support for Mr Trump’s decision. Some Senate Republicans expressed concern about Mr Comey’s dismissal, or released more neutral statements that neither criticised nor praised the decision, while others voiced at least some support. 

Nearly all Senate Democrats have called for a [special independent prosecutor](https://www.ft.com/content/88597dec-35cc-11e7-bce4-9023f8c0fd2e) to investigate the Trump campaign’s alleged ties to Russian officials, while GOP senator John McCain stands alone among his fellow Republicans in the Senate by calling for a special congressional committee.

Below the FT has compiled and categorised the responses of the Senate intelligence committee. Below that are reactions from the Senate judiciary committee, as [the decision](https://www.ft.com/content/88597dec-35cc-11e7-bce4-9023f8c0fd2e) to appoint a special prosecutor falls to the [US judicial branch](https://www.ft.com/content/8d5ba2d0-359e-11e7-bce4-9023f8c0fd2e).

{% endmarkdown %}


<h2>Senate intelligence committee members</h2>
	<div class="click-to-sort">Click on column headers to sort</div>
	<table class="o-table" data-o-component="o-table">
		<thead>
			<th>Senator</th>
			<th>Party</th>
			<th>State</th>
			<th>Voiced at least some support for Mr Trump's decision</th>
			<th>Called for a special prosecutor</th>
		</thead>
		<tbody>
			{% for row in intelligence %}
			<tr>
				<td class="senator-name">{{row.fullname}}</td>
				<td class="rowparty-{{row.party}} party-column">{{row.party}}</td>
				<td class="state-column">{{row.state}}</td>
				<td class="rowsupport-{{row.support2}} support-column">{{row.supportthedecision | md}}</td>
				<td class="rowcall-{{row.called2}} investigator-column">{{row.calledforspecialprosecutor | md}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

<h2>Senate judiciary committee members</h2>
	<div class="click-to-sort">Click on column headers to sort</div>
	<table class="o-table" data-o-component="o-table">
		<thead>
			<th>Senator</th>
			<th>Party</th>
			<th>State</th>
			<th>Voiced at least some support for Mr Trump's decision</th>
			<th>Called for a special prosecutor</th>
		</thead>
		<tbody>
			{% for row in judiciary %}
			<tr>
				<td class="senator-name">{{row.fullname}}</td>
				<td class="rowparty-{{row.party}} party-column">{{row.party}}</td>
				<td class="state-column">{{row.state}}</td>
				<td class="rowsupport-{{row.support2}} support-column">{{row.supportthedecision | md}}</td>
				<td class="rowcall-{{row.called2}} investigator-column">{{row.calledforspecialprosecutor | md}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

<h2>All Senators</h2>
	<div class="click-to-sort">Click on column headers to sort</div>
	<table class="o-table" data-o-component="o-table">
		<thead>
			<th>Senator</th>
			<th>Party</th>
			<th>State</th>
			<th>Voiced at least some support for Mr Trump's decision</th>
			<th>Called for a special prosecutor or special counsel</th>
		</thead>
		<tbody>
			{% for row in data %}
			<tr>
				<td class="senator-name">{{row.fullname}}</td>
				<td class="rowparty-{{row.party}} party-column">{{row.party}}</td>
				<td class="state-column">{{row.state}}</td>
				<td class="rowsupport-{{row.support2}} support-column">{{row.supportthedecision | md}}</td>
				<td class="rowcall-{{row.called2}} investigator-column">{{row.calledforspecialprosecutor | md}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% markdown %}

*Called for independent investigation or independent commission

_Additional reporting by Jennifer Bissell and additional development by Joanna Kao_

{% endmarkdown %}

{% endblock %}
