{% extends "layout.html" %}

{% block article_body %}
	
{% markdown %}

Donald Trump’s abrupt termination of FBI director James Comey in the middle of an FBI probe into Russian interference in the 2016 election sent shockwaves through Capitol Hill. How Senators respond to the news matters, as Mr Trump cannot appoint a replacement for Mr Comey without the Senate’s approval, and the Senate intelligence committee is conducting its own investigation into Russian interference in the 2016 election.

The initial reaction split largely along predictable party lines: no Senate Democrats have voiced support for Mr Trump’s decision. Some Senate Republicans expressed concern about Mr Comey’s dismissal, or released more neutral statements that that neither criticised nor praised the decision, while others voiced at least some support. 

Nearly all Senate Democrats have called for a special independent prosecutor to investigate the Trump campaign’s alleged ties to Russian officials, while GOP senator John McCain stands alone among his fellow Republicans in the Senate by calling for a special congressional committee.

Below the FT has compiled and attempted to categorise the responses of the Senate Intelligence Committee, which is pursuing its own investigation into Russian interference in the election.

{% endmarkdown %}


<h2>Senate intelligence committee members</h2>
	<table class="o-table o-table--row-stripes" data-o-component="o-table">
		<thead>
			<th>Senator</th>
			<th>Party</th>
			<th>State</th>
			<th>Voiced at least some support for Mr Trump's decision</th>
			<th>Called for a special prosecutor</th>
		</thead>
		<tbody>
			{% for row in intelligence %}
			<tr>
				<td class="senator-name">{{row.fullname}}</td>
				<td class="rowparty-{{row.party}} party-column">{{row.party}}</td>
				<td class="state-column">{{row.state}}</td>
				<td class="rowsupport-{{row.support2}} support-column">{{row.supportthedecision | md}}</td>
				<td class="rowcall-{{row.called2}} investigator-column">{{row.calledforspecialprosecutor | md}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


{% markdown %}


Eyes have also been on members of the Senate judiciary committee, which deals with matters to do with the US judicial branch. The decision whether to appoint a special prosecutor to investigate Russian interference falls to deputy attorney-general Rod Rosenstein, whose memo Mr Trump used as reasoning for dismissing Mr Comey. Normally attorney-general Jeff Sessions, the head of the Department of Justice, would make the decision, but Mr Sessions recused himself from any such inquiries after he misled Congress about his contact with the Russian ambassador. 

Claims intensified that Mr Trump fired Mr Comey in an attempt to thwart the FBI Russian probe after reports emerged that Mr Comey had asked the Department of Justice for more resources for the investigation.

{% endmarkdown %}

<h2>Senate judiciary committee members</h2>
	<table class="o-table o-table--row-stripes" data-o-component="o-table">
		<thead>
			<th>Senator</th>
			<th>Party</th>
			<th>State</th>
			<th>Voiced at least some support for Mr Trump's decision</th>
			<th>Called for a special prosecutor</th>
		</thead>
		<tbody>
			{% for row in judiciary %}
			<tr>
				<td class="senator-name">{{row.fullname}}</td>
				<td class="rowparty-{{row.party}} party-column">{{row.party}}</td>
				<td class="state-column">{{row.state}}</td>
				<td class="rowsupport-{{row.support2}} support-column">{{row.supportthedecision | md}}</td>
				<td class="rowcall-{{row.called2}} investigator-column">{{row.calledforspecialprosecutor | md}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


{% markdown %}


Below are the reactions of all the Senate members. Click on column headers to sort.

{% endmarkdown %}

<h2>All Senators</h2>
	<table class="o-table o-table--row-stripes" data-o-component="o-table">
		<thead>
			<th>Senator</th>
			<th>Party</th>
			<th>State</th>
			<th>Voiced at least some support for Mr Trump's decision</th>
			<th>Called for a special prosecutor or special counsel</th>
		</thead>
		<tbody>
			{% for row in data %}
			<tr>
				<td class="senator-name">{{row.fullname}}</td>
				<td class="rowparty-{{row.party}} party-column">{{row.party}}</td>
				<td class="state-column">{{row.state}}</td>
				<td class="rowsupport-{{row.support2}} support-column">{{row.supportthedecision | md}}</td>
				<td class="rowcall-{{row.called2}} investigator-column">{{row.calledforspecialprosecutor | md}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
