{% extends "layout.html" %}

{% block article_body %}
	
{% markdown %}

To begin with it has nothing to do with archaism, with the salvaging of obsolete words and turns of speech, or with the setting up of a "standard English" which must never be departed from. On the contrary, it isespecially concerned with the scrapping of every word or idiom which has outworn its usefulness. 

It has nothing to do with correct grammar and syntax,which are of no importance so long as one makes one's meaning clear, or with the avoidance of Americanisms, or with having what is called a "good prose style." 

{% endmarkdown %}

<h2>Senate Select Committee on Intelligence members</h2>
	<table class="o-table o-table--responsive-overflow o-table--row-stripes" data-o-component="o-table">
		<thead>
			<th>Senator</th>
			<th>Party</th>
			<th>State</th>
			<th>Voiced support for Mr Trump's decision</th>
			<th>Called for a special prosecutor in statement</th>
		</thead>
		<tbody>
			{% for row in intelligence %}
			<tr>
				<td>{{row.fullname}}</td>
				<td class="rowparty-{{row.party}}">{{row.party}}</td>
				<td>{{row.state}}</td>
				<td class="rowsupport-{{row.support2}}">{{row.supportthedecision | md}}</td>
				<td class="rowcall-{{row.call2}}">{{row.calledforspecialprosecutor | md}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


{% markdown %}

It has nothing to do with correct grammar and syntax,which are of no importance so long as one makes one's meaning clear, or with the avoidance of Americanisms, or with having what is called a "good prose style." 

{% endmarkdown %}

<h2>Senate Committee on the Judiciary members</h2>
	<table class="o-table o-table--responsive-overflow o-table--row-stripes" data-o-component="o-table">
		<thead>
			<th>Senator</th>
			<th>Party</th>
			<th>State</th>
			<th>Voiced support for Mr Trump's decision</th>
			<th>Called for a special prosecutor in statement</th>
		</thead>
		<tbody>
			{% for row in judiciary %}
			<tr>
				<td>{{row.fullname}}</td>
				<td class="rowparty-{{row.party}}">{{row.party}}</td>
				<td>{{row.state}}</td>
				<td class="rowsupport-{{row.support2}}">{{row.supportthedecision | md}}</td>
				<td class="rowcall-{{row.call2}}">{{row.calledforspecialprosecutor | md}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


{% markdown %}

It has nothing to do with correct grammar and syntax,which are of no importance so long as one makes one's meaning clear, or with the avoidance of Americanisms, or with having what is called a "good prose style." 

{% endmarkdown %}

<h2>All Senators</h2>
	<table class="o-table o-table--responsive-overflow o-table--row-stripes" data-o-component="o-table">
		<thead>
			<th>Senator</th>
			<th>Party</th>
			<th>State</th>
			<th>Voiced support for Mr Trump's decision</th>
			<th>Called for a special prosecutor in statement</th>
		</thead>
		<tbody>
			{% for row in data %}
			<tr>
				<td>{{row.fullname}}</td>
				<td class="rowparty-{{row.party}}">{{row.party}}</td>
				<td>{{row.state}}</td>
				<td class="rowsupport-{{row.support2}}">{{row.supportthedecision | md}}</td>
				<td class="rowcall-{{row.call2}}">{{row.calledforspecialprosecutor | md}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


{% markdown %}

On the other hand, it is not concerned with fake simplicity and
the attempt to make written English colloquial. Nor does it even imply in every
case preferring the Saxon word to the Latin one, though it does imply using the fewest and shortest words that will cover one's meaning. What is above all
needed is to let the meaning choose the word, and not the other way around. In prose, the worst thing one can do with words is surrender to them. When you think of a concrete object, you think wordlessly, and then, if you want to
describe the thing you have been visualizing you probably hunt about until you
find the exact words that seem to fit it. When you think of something abstract
you are more inclined to use words from the start, and unless you make a
conscious effort to prevent it, the existing dialect will come rushing in and
do the job for you, at the expense of blurring or even changing your meaning.
Probably it is better to put off using words as long as possible and get one's
meaning as clear as one can through pictures and sensations. Afterward one can choose -- not simply _accept_ -- the phrases that will best cover the
meaning, and then switch round and decide what impressions one's words are
likely to make on another person. This last effort of the mind cuts out all
stale or mixed images, all prefabricated phrases, needless repetitions, and
humbug and vagueness generally. But one can often be in doubt about the effect of a word or a phrase, and one needs rules that one
can rely on when instinct fails. I think the following rules will cover most cases:

I have not here been considering the literary use of language, but merely
language as an instrument for expressing and not for concealing or preventing
thought. Stuart Chase and others have come near to claiming that all abstract
words are meaningless, and have used this as a pretext for advocating a kind of
political quietism. Since you don't know what Fascism is, how can you struggle
against Fascism? One need not swallow such absurdities as this, but one ought
to recognize that the present political chaos is connected with the decay of
language, and that one can probably bring about some improvement by starting at
the verbal end. If you simplify your English, you are freed from the worst
follies of orthodoxy. You cannot speak any of the necessary dialects, and when
you make a stupid remark its stupidity will be obvious, even to yourself.
Political language -- and with variations this is true of all political
parties, from Conservatives to Anarchists -- is designed to make lies sound
truthful and murder respectable, and to give an appearance of solidity to pure
wind. One cannot change this all in a moment, but one can at least change one's
own habits, and from time to time one can even, if one jeers loudly enough,
send some worn-out and useless phrase -- some _jackboot, Achilles' heel,
hotbed, melting pot, acid test, veritable inferno_, or other lump of verbal
refuse -- into the dustbin, where it belongs.
{% endmarkdown %}
{% endblock %}
