@import 'o-colors/main';
@import 'components/core/main';

.rowparty-R {
	color: #e5262d;
}
.rowparty-D {
	color: #238fce;
}
.rowsupport-false {
	background-color: #ebbcb3;
}
.rowsupport-true {
	background-color: #F3E0A5;
}
.rowcall-false {
	background-color: #F3E0A5;
}
.rowcall-true {
	background-color: #ebbcb3;
}
.o-typography-body-wrapper table a{
	font-family: MetricWeb,sans-serif;
	line-height: 17px;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;

}
.o-typography-body-wrapper table p{
	font-family: MetricWeb,sans-serif;
	line-height: 17px;
	font-size: 16px;
	font-weight: 400;
	text-align:center; 
}
.senator-name {
	width: 25%;
}
.party-column {
	width: 12.5%;
}
.state-column {
	width: 12.5%;
}
.support-column {
	width: 25%;
}
.investigator-column {
	width: 25%;
}
.article-body .o-table--responsive-overflow {
	min-width: 200px;
}
.article-body .o-table th{
	cursor: pointer;
	line-height: 1;
	font-size: 18px;
}
.article-body .o-table td{
	vertical-align: middle;
	font-size: 16px;
	border-top: 1px solid #d1c6b7;
	border-bottom: 1px solid #d1c6b7;
}
th[aria-sort="descending"]:after {
    content: '▼';
    margin-left: 5px;
}
th[aria-sort="ascending"]:after {
    content: '▲';
    margin-left: 5px;
}
/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/
